#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 25rem 0;
}

#personal-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#personal-description > .description-section {
  display: flex;
}

#personal-description > .description-section > .text-container {
  width: 50%;
}

#personal-description > .description-section > .gray-text {
  color: gray;
}

#personal-description > .description-section > .image-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#personal-description p {
  font-size: 2rem;
  margin: 0;
  line-height: 1.5;
}

#personal-description .bold {
  font-weight: 500;
}

#personal-description .italic {
  font-style: italic;
}

#personal-description #tennis-image {
  width:230px;
  height:230px;
}

#personal-description #guitar-image {
  width:230px;
  height:230px;
}

#personal-description #barista-image {
  width:320px;
  height:280px;
}

#about-section-core-values {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
}

#about-section-core-values > .core-value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  gap: 0.5rem;
}

#about-section-core-values > .core-value-item > .core-value-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F1F1F1;
}

#about-section-core-values > .core-value-item > .core-value-icon > svg {
  width: 30px;
  height: 30px;
}

#about-section-core-values > .core-value-item > .core-value-title, .core-value-subtitle {
  text-align: center;
}

#about-section-core-values > .core-value-item > .core-value-title {
  font-size: 1.3rem;
  font-weight: 500;
}

#about-section-core-values > .core-value-item > .core-value-subtitle {
  font-style: italic;
}

#about-section-skills {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.25rem;
}

#about-section-skills > .skill-item {
  cursor: default;
  padding: 0.5rem 0.875rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in;
}

#about-section-skills > .skill-item:hover {
  transform: translateY(-0.25rem);
}