#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 25rem 0;
}

#personal-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#personal-description > .description-section {
  display: flex;
}

#personal-description > .description-section > .text-container {
  width: 50%;
}

#personal-description > .description-section > .gray-text {
  color: gray;
}

#personal-description > .description-section > .image-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

#personal-description p {
  font-size: 2rem;
  margin: 0;
  line-height: 1.5;
}

#personal-description .bold {
  font-weight: 500;
}

#personal-description .italic {
  font-style: italic;
}

#personal-description #tennis-image {
  width:230px;
  height:230px;
}

#personal-description #guitar-image {
  width:230px;
  height:230px;
}

#personal-description #barista-image {
  width:320px;
  height:280px;
}

#about-section-core-values {
  display: flex;
  width: 100%;
  margin-top: 5rem;
}

#core-values-header {
  width: 30%;
}

#core-values-header h3 {
  font-size: 1.8rem;
}

#core-values-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

#core-values-list > .core-value-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding: 1.6rem 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #FCFCFC;
  border-radius: 15px;
  transition: all 0.15s ease-in;
}

#core-values-list > .core-value-item:hover {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
}

#core-values-list > .core-value-item > .core-value-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F1F1F1;
}

#core-values-list > .core-value-item > .core-value-icon > svg {
  width: 40px;
  height: 40px;
}

#core-values-list > .core-value-item > .core-value-title, .core-value-subtitle {
  text-align: center;
}

#core-values-list > .core-value-item > .core-value-title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#core-values-list > .core-value-item > .core-value-subtitle {
  font-style: italic;
  font-size: 1.4rem;
}

#about-section-skills {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.25rem;
}

#about-section-skills > .skill-item {
  cursor: default;
  padding: 0.5rem 0.875rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in;
}

#about-section-skills > .skill-item:hover {
  transform: translateY(-0.25rem);
}