#home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6rem);
}

#home-section-content {
  padding-bottom: 7rem;
  display: flex;
  align-items: center;
}

#self-image {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  padding: 0.75rem;
  background: linear-gradient(to bottom, black, yellow);
}

#home-personal-details {
  margin-left: 2rem;
}

#home-intro-message {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

#home-intro-message-name {
  background: linear-gradient(black, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes wave {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14deg) }
  20% { transform: rotate(-8deg) }
  30% { transform: rotate(14deg) }
  40% { transform: rotate(-4deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}

#home-intro-message-waving-hand {
  animation: wave 2.5s linear infinite;
  transform-origin: bottom;
  display: inline-block;
}

#home-position-message {
  font-size: 2.25rem;
  line-height: 1.5;
  margin: 0;
}

#home-details-list {
  margin: 0.5rem 0 0 0.5rem;
  padding: 0;
  line-height: 1.75;
}

#home-details-list > .list-item {
  display: flex;
  width: fit-content;
  cursor: pointer;
  transition: transform 150ms ease-in;
}

#home-details-list > .list-item > .list-item-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

#home-details-list > .list-item > .list-item-text {
  display: inline-flex;
  align-items: center;
  transition: color 150ms ease-in;
}

#home-details-list > .list-item:hover {
  transform: translateY(-0.25rem);
}

#home-details-list > .list-item:hover > .list-item-text {
  color: red;
}