nav {
  height: 6rem;
  display: flex;
  align-items: center;
  padding-right: 60px;
  justify-content: end;
}

nav > .nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 0.25rem;
  font-weight: 500;
  color: black;
  text-decoration-line: none;
  transition: color 200ms ease-in;
}

nav > .nav-link::before {
  position: absolute;
  width: 0px;
  height: 3px;
  bottom: 0px;
  background-color: red;
  transition: width 200ms ease-in;
  content: "";
}

nav > .nav-link:hover {
  color: red;
}

nav > .nav-link:hover::before {
  width: 100%;
}

#logo-image {
  width: 70px;
  height: 70px;
}

#theme-switch {
  background: transparent;
  border: none;
  font-size: 1.7rem;
  padding: 0;
  cursor: pointer;
}

/*#theme-switch {
  display: inline-flex;
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
  border: 2px solid #4b4c53;
  border-radius: 50%;
  padding: 0.25rem;
}*/

/*#theme-switch > div {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.icon-container {
  position: absolute;
  inset: 0;
}*/