@import "personalDescription.css";
@import "coreValues.css";
@import "skills.css";

#about-section {
	display: flex;
	flex-direction: column;
	padding: 48px 15% 0;
	gap: 80px;
}

@media (max-width: 1200px) {
	#about-section {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 480px) {
	#about-section {
		padding-left: 20px;
		padding-right: 20px;
	}
}
